
.header-main {
    height: 640px;
    width: 100%;
    background: url('../img/header_main.jpg') center (center / cover) no-repeat;
    padding: 30px;

    @media (max-width: 767.98px) {
        &{
            height: 500px;
        }
    }

    @media (max-width: 575.98px) {
        &{
            height: 400px;
        }
    } 

    &__nav {
        @media (max-width: 767.98px) {
            &{
                padding-left: 15px;
                display: flex;
                justify-content: center;
                align-items: end;
            }
        } 
    }
    &__title {
        margin-top: 111px;
        
        @media (max-width: 767.98px) {
            &{
                margin-top: 60px;
            }
        }

        
    }

    &__subtitle {
        font-size: 24px;
        line-height: 50px;
        color: $text-color;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;

        @media (max-width: 767.98px) {
            &{
                font-size: 18px;
            }
        }

        @media (max-width: 575.98px) {
            &{
                display: none;
            }
        } 
    }

    &__btn-more {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 30px;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 3px;
        background: rgba(0, 0, 0, 0);
        font-size: 14px;
        color: $text-color;
        @media (hover: hover) {
            &:hover {
                background: #FFFFFF; 
                color: $btn-hover-text-color;
            }
        }

        @media (max-width: 575.98px) {
            &{
                margin-top: 20px;
            }
        } 
    }
}

