.about-us {
    min-height: 520px;
    &__subtitle {
        padding-top: 80px;
    }

    &__icon{
        &:before{
            background-color: #000;
        }
        &:after{ 
            background-color: #000;
        }
    }
    &__content {
        margin: 20px auto 0;
        width: 590px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
}