.header-main {
  height: 640px;
  width: 100%;
  background: url("../img/header_main.jpg") center center/cover no-repeat;
  padding: 30px; }
  @media (max-width: 767.98px) {
    .header-main {
      height: 500px; } }
  @media (max-width: 575.98px) {
    .header-main {
      height: 400px; } }
  @media (max-width: 767.98px) {
    .header-main__nav {
      padding-left: 15px;
      display: flex;
      justify-content: center;
      align-items: end; } }
  .header-main__title {
    margin-top: 111px; }
    @media (max-width: 767.98px) {
      .header-main__title {
        margin-top: 60px; } }
  .header-main__subtitle {
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center; }
    @media (max-width: 767.98px) {
      .header-main__subtitle {
        font-size: 18px; } }
    @media (max-width: 575.98px) {
      .header-main__subtitle {
        display: none; } }
  .header-main__btn-more {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: #fff; }
    @media (hover: hover) {
      .header-main__btn-more:hover {
        background: #FFFFFF;
        color: #313131; } }
    @media (max-width: 575.98px) {
      .header-main__btn-more {
        margin-top: 20px; } }

* {
  box-sizing: border-box;
  font-family: 'Merienda', cursive; }

a {
  text-decoration: none;
  color: black; }

body {
  margin: 0; }

.container {
  width: 1140px;
  margin: 0 auto; }
  @media (max-width: 1199.98px) {
    .container {
      max-width: 100%; } }

.title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  @media (max-width: 767.98px) {
    .title {
      font-size: 35px; } }
  @media (max-width: 575.98px) {
    .title {
      font-size: 28px;
      line-height: 40px; } }

.subtitle {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-align: center; }
  @media (max-width: 767.98px) {
    .subtitle {
      font-size: 20px; } }

.coffee-icon {
  width: 30px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .coffee-icon img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .coffee-icon:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 55px;
    width: 60px;
    height: 1.5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: white; }
  .coffee-icon:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -85px;
    width: 60px;
    height: 1.5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: white; }

.nav__item {
  margin-right: 40px;
  color: #fff;
  position: relative; }
  @media (max-width: 767.98px) {
    .nav__item {
      font-size: 14px;
      margin-right: 20px; } }
  .nav__item:before {
    transition: all 0.5s;
    content: '';
    position: absolute;
    top: 25px;
    left: 1px;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    border-radius: 1px; }
  @media (hover: hover) {
    .nav__item:hover:before {
      width: 100%; } }

.about-us {
  min-height: 520px;
  padding-bottom: 40px; }
  @media (max-width: 767.98px) {
    .about-us {
      min-height: 400px; } }
  .about-us__subtitle {
    padding-top: 80px; }
    @media (max-width: 767.98px) {
      .about-us__subtitle {
        padding-top: 40px; } }
  .about-us__icon:before {
    background-color: #000; }
  .about-us__icon:after {
    background-color: #000; }
  .about-us__content {
    margin: 20px auto 0;
    width: 590px;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }
    @media (max-width: 767.98px) {
      .about-us__content {
        width: 90%;
        font-size: 12px; } }

.our-best {
  padding: 20px;
  min-height: 495px;
  background: url("../img/our_best_bg.jpg") center center/cover no-repeat; }
  @media (max-width: 767.98px) {
    .our-best {
      min-height: 400px; } }
  .our-best__subtitle {
    padding-top: 60px; }
    @media (max-width: 767.98px) {
      .our-best__subtitle {
        padding-top: 20px; } }
  .our-best__card-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 71px;
    flex-wrap: wrap; }
    @media (max-width: 991.98px) {
      .our-best__card-wrapper {
        gap: 20px; } }

.card {
  padding: 21px;
  width: 220px;
  height: 240px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px; }
  .card__img {
    display: block;
    margin: 0 auto;
    max-width: 170px;
    max-height: 130px; }
  .card__name {
    margin-top: 14px;
    font-size: 14px;
    text-align: right; }
  .card__price {
    margin-top: 14px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right; }

.footer {
  height: 150px; }
  .footer__nav {
    padding-left: 45px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: end; }
    @media (max-width: 575.98px) {
      .footer__nav {
        padding-left: 20px; } }
  .footer__nav > .nav__item {
    color: black; }
    .footer__nav > .nav__item:before {
      background-color: #000;
      top: 30px; }
  .footer__coffee-icon {
    margin-top: 30px; }
    .footer__coffee-icon:before {
      background-color: #000; }
    .footer__coffee-icon:after {
      background-color: #000; }

/*# sourceMappingURL=main.css.map */
