
.header-second {
    height: 260px;
    width: 100%;
    background: url('../../resources/img/header_second.jpg') center (center / cover) no-repeat;
    padding: 30px;
    @media (max-width: 575.98px) {
        & {
            height: 200px;
            padding: 30px 5px 30px 5px;
        }
    } 


    &__nav {
        @media (max-width: 767.98px) {
            &{
                padding-left: 15px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        } 
        @media (max-width: 575.98px) {
            &{
                padding-left: 0;
            }
        } 
    }
    &__title {
        margin-top: 60px;  
        @media (max-width: 575.98px) {
            & {
                margin-top: 38px;  
            }
        } 
    }
    
    &_for-your-pleasure {
        background: url('../../resources/img/header_second_2.jpg') center (center / cover) no-repeat;
    }
}

